<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>flask</title>
     <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
     <script src="{{url_for('static',filename='script/script.js')}}"></script>
</head>
<body>
     <h1>html form </h1>
     <form action="/submit" method='post'>
          <label for="Science">Science </label><br>
          <input type="text" id="science" name="Science" value="0"><br>
          <label for="Maths">Last name:</label><br>
          <input type="text" id="Maths" name="Maths" value="0"><br>
          <label for="C">Last name:</label><br>
          <input type="text" id="C" name="C" value="0"><br>
          <label for="datascience">Last name:</label><br>
          <input type="text" id="datascience" name="Datascience" value="0"><br
          <br>
          <input type="submit" value="Submit">
        </form> 
</body>
</html>